body {
    margin: 0;
    padding: 0;
}

div {
    border: 2px solid brown;
}

.video-bg {
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
.video-bg video {
    width: 100%;
}
.effect-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 500px;
    z-index: 2;
}

.video-bg-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

.upper-menu {
    width: 100%;
    height: 100px;
}

.down-menu {
    width: 100%;
}

.down-menu-left {
    width: 50%;
    height: auto;
    align-items: center;
    color: white;
    z-index: 2;
    font-size: 33px;
    line-height: 1;
}
.down-menu-left-title {
    height: 40%;
    width: 70%;

}
.down-menu-left-desc {
    height: 20%;
    width: 70%;
    font-size: 23px;
    opacity: 0.6;
}

.down-menu-left-button {
    height: 40%;
    width: 70%;
}

.button-down-menu {
   width: 40%;
   height: 40%;
   margin-top: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(224, 135, 0);
    border-radius: 5%;
}

.down-menu-right {
    width: 50%;
    height: auto;
}

.upper-menu-left-first {
    transition: .5s;
    z-index: 2;
}

.upper-menu-left-third {
    color: white;
    z-index: 2;
}

.upper-menu-third-blocks {
    line-height: 70px;
}

.logo-icon {
    width: 20%;
    height: 100%;
    background-image: url(image_resources/pngwing.com\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.logo-name {
    color: white;
    margin-top: 15px;
    z-index: 2;
    font-size: xx-large;
}

.upper-menu-left-first:hover {
    transform: scale(1.2);
    z-index: 2;
}

.menu-content {
    height: 100%;
    width: 20%;
    position: relative;
    display: inline-block;
    color: white;
    z-index: 2;
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
    line-height: 70px;
}
.menu-content:hover {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    z-index: 3;
    visibility: hidden;
}

.dropdown.active {
    visibility: visible;
}


.dropdown a {
    background-color: rgb(219, 121, 86);
    padding: 0 5px;
    display: block;
    color: white;
    transform-origin: 0 0;
}

.dropdown-1 {
    transform: scaleY(0);
    transition: transform 0.15s 0.3s;
    border: 1px solid black;
}

.dropdown-2 {
    transform: scaleY(0);
    transition: transform 0.15s 0.15s;
    border: 1px solid black;
}


.dropdown-3 {
    transform: scaleY(0);
    transition: transform 0.15s;
    border: 1px solid black;
}


.dropdown-menu:hover .dropdown-1 {
    transform: scaleY(1);
    transition: transform 0.15s;
}

.dropdown-menu:hover .dropdown-2 {
    transform: scaleY(1);
    transition: transform 0.15s 0.15s;
}

.dropdown-menu:hover .dropdown-3 {
    transform: scaleY(1);
    transition: transform 0.15s 0.3s;
}

a {
    text-decoration: none;
}


